github "Alamofire/Alamofire" ~> 3.0
github "SwiftyJSON/SwiftyJSON" "swift2"
github "TransitApp/SVProgressHUD"
github "AliSoftware/OHHTTPStubs"
github "Quick/Nimble" == 4.1.0
github "Quick/Quick" == 0.9.3
github "net-a-porter-mobile/XCTest-Gherkin" "feature/swift23"